.container {
  background-image: url(image-path('basketball_court_floor_clipart.jpg'));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  height: 700px;


}
